.item-a {
    grid-area: header;
  }
  .ContactsPane {
    grid-area: main;
    background: linear-gradient(90deg,#34abeb 0%, #00dbde 100%);
    border-radius: 20px;

    padding: 0.2rem 3.6rem;
    box-shadow:3px 6px #E8E8E8;
  }

  .ManageContactsPane {
    grid-area: sidebar;
    background: linear-gradient(90deg,#34abeb 0%, #00dbde 100%);
    border-radius: 20px;

    padding: 0.2rem 3.6rem;
    box-shadow:3px 6px #E8E8E8;
  }

  .item-c {
    grid-area: main;
  }
  .item-d {
    grid-area: footer;
  }

  .contactItem {
    background: white;
    height: 3.5vh;
    justify-items: center;
    margin-bottom: 1vh;
    border-radius: 6px;

  }
  
  .contacts {
    display: grid;
    grid-template-columns: 5vw 20vw 20vw 20vw 20vw 5vw;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
      ". header header header header ."
      ". main . . sidebar ."
      ". footer footer footer footer .";
  }