.horizontalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5vw;
}

.horizontalContainerSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AreaChart {
    width: 40vw;
    height: 30vw;
    background-color: #D1D6C3D9;
    padding: 1.0rem 1.0rem;
    border-radius: 20px;
    margin: 1rem;
}

.checkBoxes {
    width: 40vw;
    height: 30vw;
    background-color: #E5E5E5D9;
    padding: 1.0rem 1.0rem;
    border-radius: 20px;
    margin: 1rem;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5vw;
}

.button {
  cursor: pointer;
  border: 2px solid white;
  padding: 8px;
  min-width: 64px;
  color: white;
  background: transparent;
  transition: all 0.1s ease-in;
  margin-left: 15px;
}
 
.button:hover {
  background: #D1D6C3D9;
  color: #ffffff;
}

.teamLabel {
  font-weight: bold;
}

.box {
  margin-right: 1.2rem;
}

.teams {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #858B50;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.divider {
  height: 1px;
  background: #9BA757;
}

.SearchBox {
  width: 50vw;
}

.App {
    text-align: center;
}
  
  .App-logo {
    height: 15vmin;
    pointer-events: none;
    bottom: 0%;
    left: 0%;
    position: fixed;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-title {
    align-self: start;
  
  }
  .App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  