.Players{
    background-color: rgba(210, 226, 222, 0.8);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 2.5rem;
    padding: 0.2rem 3.6rem;
    width: 80vw; 
    height: 80vh;
}

.PlayerSearch{
    display: inline-block;
}

.searchBar {
    display: inline-flex;
    align-items: flex-end;
    width: 80vw;
}


.searchAttr {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    float:right;
    align-items: center;
}

.dateContainer{
    width:10vw;
    padding-left: 10px;
}

.dropContainer {
    width:15vw;
    padding-left: 10px;
}

.enterContainer{
    width:5vw;
    padding-left: 10px;
}

.PlayerPane {
    
    justify-self: left;
    float: left;
    border-radius: 20px;
    margin-top: 1.5rem;
    padding: 0.2rem 0.2rem;
    width: 39vw;
    height: 25vw;
    overflow: hidden !important;
}

.ResultsPane {
    
    justify-self: right;
    float: right;
    border-radius: 20px;
    margin-top: 1.5rem;
    padding: 0.2rem 0.2rem;
    width: 39vw;
    height: 25vw;
}

.playerItem{
    background-color:yellowgreen;
    border-radius: 15px;
    padding: 0.2rem 0.2rem;
    width: 37vw;
    height: 5vw;
    margin: 0.2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerStats{
    background-color: yellow;
    border-radius: 20px;
    padding: 0.2rem 0.2rem;
    width: 18vw;
    height: 4vw;
    margin: 0.2rem auto;
    float: left;
    display: flex;
    justify-content: start;
    align-items: center;
}

.playerStats>ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    display: inline-block;
    text-align: left;
}

.playerData {
    border-radius: 20px;
    padding: 0.2rem 0.2rem;
    width: 39vw;
    height: 12vh;
    float: left;
    display: inline-flex;
    justify-content: start;
    align-items: center;
}

.playerMainContainer {
    display: inline-block;
}

.playerTable {
    width: 100%;
    height: 12vh;
}

.playerTable>tbody>tr>td {
    font-size: 10px;
}

.playerContainer {
    width: 100%;
    height: 30vh;
    border-radius: 20px;
    padding: 0.2rem 0.2rem;
    margin-top: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.playerButtons{
    width: 50%;
    height:100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 100%;
    height:60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts {
    width: 100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerName{
    font-weight: bold;
}

.playerDate {
    font-style: italic;
}

.playerRating {
    
    border-radius: 20px;
    padding: 0.2rem 0.2rem;
    width: 10vw;
    height: 4vw;
    margin: 0.2rem auto;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.submit{
    background: transparent;
    border: none !important;
    font-size:0;
    outline: none;
    cursor: pointer;
}

.Player-logo {
    margin-right: 10px;
    height: 5vmin;
    pointer-events: none;
    position: relative;
  }

  @media (prefers-reduced-motion: no-preference) {
    .Player-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.SpiderGraphLegend {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.redRectangle{
    width: 20px;
    height: 5px;
    background: red;
}

.blueRectangle{
    width: 20px;
    height: 5px;
    background: blue;
}

.legendText {
    font-size: 11px;
    padding-left: 10px;
    padding-right: 15px;
}

.center-con {
    width: 20%;
    height: 20%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.round {
    position: absolute;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}

.cta{
    width:100%; cursor: pointer; position: absolute;
}

.cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.like-btn {
  display: inline-block;
  Cursor: pointer;
  width: 80px;
  height: 80px;
}

.like-btn {
  background: url('https://i.ibb.co/vw78mf3/heart.png') no-repeat 0% 50%;
  background-size: 2900%;
}

.like-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.like-active {
  animation-timing-function: steps(28);
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}