.Players{
    background-color: rgba(210, 226, 222, 0.8);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 2.5rem;
    padding: 0.2rem 3.6rem;
    width: 80vw; 
    height: 80vh;
}

.PlayerSearch{
    background-color: aquamarine;
    display: inline-block;
}

.searchBar {
    background-color: yellow;
    display: inline-flex;
    align-items: center;
    width: 80vw;
}

.searchAttr {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    float:right;
    background-color: red;
    align-items: center;
}

.dateContainer{
    width:10vw;
    padding-left: 10px;
}

.dropContainer {
    width:15vw;
    padding-left: 10px;
}

.enterContainer{
    width:5vw;
    padding-left: 10px;
}

.PlayerPane {
    background-color: aqua;
    justify-self: left;
    float: left;
    border-radius: 20px;
    margin-top: 1.5rem;
    padding: 0.2rem 0.2rem;
    width: 39vw;
    height: 34vw;
}

.ResultsPane {
    background-color: #CDD6C8BF;
    justify-self: right;
    float: right;
    border-radius: 20px;
    margin-top: 1.5rem;
    padding: 0.2rem 0.2rem;
    width: 39vw;
    height: 34vw;
}

.SpiderGraphLegend {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.redRectangle{
    width: 20px;
    height: 5px;
    background: red;
}

.blueRectangle{
    width: 20px;
    height: 5px;
    background: blue;
}

.legendText {
    font-size: 11px;
    padding-left: 10px;
    padding-right: 15px;
}

.playerItem {
    background-color: #CDD6C8;
    border-radius: 15px;
    padding: 0.2rem 0.6rem;
    width: 37vw;
    height: 5vw;
    margin: 0.2rem auto;
}

.resultItemHeader {
    border-radius: 15px;
    padding: 0.2rem 0.6rem;
    width: 37vw;
    height: 5vw;
    margin: 0.2rem auto;
}

.playerStats{
    border-radius: 20px;
    padding: 0.2rem 0.2rem;
    width: 20vw;
    height: 4vw;
    margin: 0.2rem auto;
    float: left;
    display: flex;
    justify-content: start;
    align-items: center;
}

.playerStats>ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    display: inline-block;
    text-align: left;
}

.playerName {
    font-weight: bold;
    font-size: 22px;
    color: #171717;
}

.playerDate {
    font-size: 18px;
    color: #7F7F7F;
}

.playerRating {
    border-radius: 20px;
    padding: 0.2rem 0.2rem;
    width: 6vw;
    height: 4vw;
    margin: 0.2rem auto;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.submit{
    background: transparent;
    border: none !important;
    font-size:0;
    outline: none;
    cursor: pointer;
}

.Player-logo {
    margin-right: 10px;
    height: 5vmin;
    pointer-events: none;
    position: relative;
  }

  @media (prefers-reduced-motion: no-preference) {
    .Player-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }