.SignupForm {
    background: linear-gradient(90deg,#34abeb 0%, #00dbde 100%);
    justify-self: right;
    float: right;
    border-radius: 20px;
    margin-top: 2.5rem;
    padding-right: 1rem;
    padding: 0.2rem 3.6rem;
    width: 18vw;
    box-shadow: 3px 6px #00aade;

    
}

.SignupForm-title {
    justify-self: start;
    float: left;
    font-weight: bold;
    font-size: 36px;
    color: white;
}

.SignupForm-input {
    float: left;
    width: 15vw;
    border-radius: 12px;
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.SignupForm-input:focus {
    outline: none;
    background-color: black;
    color: white;
}

input::-webkit-input-placeholder
{
    color: lightslategray;
}

input:focus::-webkit-input-placeholder
{
    color: white;
}

.SignupForm-button {
    float: left;
    background: linear-gradient(90deg, #fc00ff 0%, #f80759 100%);
    border: none;
    color: white;
    font-size: 16px;
    padding: 0.7rem 1.4rem;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-right: 50rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.SignupForm-button:hover {
    background: black;
    transition: all 0.5s ease-in-out;

}

.day-month {
    width: 2.1vw;
    margin-right: 0.9rem;
}

.year {
    width: 3.6vw;
    margin-right: 0.6rem;
}